<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Triangle</string>
		<key>filename</key>
		<string>triangle-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Mask</string>
		<key>filename</key>
		<string>mask-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Top Hat</string>
		<key>filename</key>
		<string>tophat-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Ladder</string>
		<key>filename</key>
		<string>ladder-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Die</string>
		<key>filename</key>
		<string>die-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Checkers Board</string>
		<key>filename</key>
		<string>checkerboard-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Pinwheel</string>
		<key>filename</key>
		<string>pinwheel-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Anchor</string>
		<key>filename</key>
		<string>anchor-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Bow Tie</string>
		<key>filename</key>
		<string>bowtie-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Beginner</string>
		<key>title</key>
		<string>Ghost</string>
		<key>filename</key>
		<string>ghost-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Exclamation Mark</string>
		<key>filename</key>
		<string>exclamationMark.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Musical Note</string>
		<key>filename</key>
		<string>note.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Mobile Phone</string>
		<key>filename</key>
		<string>mobilePhone.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Question Mark</string>
		<key>filename</key>
		<string>questionMark.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Clipboard</string>
		<key>filename</key>
		<string>clipboard.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Happy</string>
		<key>filename</key>
		<string>smiley.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Right Arrow</string>
		<key>filename</key>
		<string>leftArrow.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Sad</string>
		<key>filename</key>
		<string>sad.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Envelope</string>
		<key>filename</key>
		<string>envelope.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Shield</string>
		<key>filename</key>
		<string>shield.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Magnet</string>
		<key>filename</key>
		<string>magnet.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Battery</string>
		<key>filename</key>
		<string>battery.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Emoticon</string>
		<key>filename</key>
		<string>emoticon.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Ankh</string>
		<key>filename</key>
		<string>ankh.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Profile</string>
		<key>filename</key>
		<string>face.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>RSS</string>
		<key>filename</key>
		<string>rss.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Film</string>
		<key>filename</key>
		<string>film.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Airplane</string>
		<key>filename</key>
		<string>airplane.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Printer</string>
		<key>filename</key>
		<string>printer.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Calculator</string>
		<key>filename</key>
		<string>calculator.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Alien #1</string>
		<key>filename</key>
		<string>alien1.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>CRT</string>
		<key>filename</key>
		<string>crt.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Vase</string>
		<key>filename</key>
		<string>vase.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Alien #2</string>
		<key>filename</key>
		<string>alien2.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Carriage Return</string>
		<key>filename</key>
		<string>carriageReturn.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Recliner</string>
		<key>filename</key>
		<string>easyChair.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>TV</string>
		<key>filename</key>
		<string>tv.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Gravestone</string>
		<key>filename</key>
		<string>gravestone.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>iPhone</string>
		<key>filename</key>
		<string>iphone.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Cityscape</string>
		<key>filename</key>
		<string>cityscape.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Balloon</string>
		<key>filename</key>
		<string>balloon.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Bell</string>
		<key>filename</key>
		<string>bell.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Document</string>
		<key>filename</key>
		<string>document.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Mouse</string>
		<key>filename</key>
		<string>mouse.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Mac Classic</string>
		<key>filename</key>
		<string>macClassic.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Calendar</string>
		<key>filename</key>
		<string>calendar.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Footprints</string>
		<key>filename</key>
		<string>footprints.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Candle</string>
		<key>filename</key>
		<string>candle.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Hourglass</string>
		<key>filename</key>
		<string>hourglass.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Star</string>
		<key>filename</key>
		<string>star.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Car</string>
		<key>filename</key>
		<string>car.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Portrait</string>
		<key>filename</key>
		<string>portrait.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Speaker</string>
		<key>filename</key>
		<string>speaker.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Globe</string>
		<key>filename</key>
		<string>globe.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Scissors</string>
		<key>filename</key>
		<string>scissors.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Four Way</string>
		<key>filename</key>
		<string>fourway.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Skull &amp; Bone</string>
		<key>filename</key>
		<string>skullAndBone.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Not Allowed</string>
		<key>filename</key>
		<string>prohibited.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Stairs</string>
		<key>filename</key>
		<string>stairs.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Rain Cloud</string>
		<key>filename</key>
		<string>rainCloud.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Lightbulb</string>
		<key>filename</key>
		<string>lightbulb.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Folder</string>
		<key>filename</key>
		<string>folder.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Binoculars</string>
		<key>filename</key>
		<string>binoculars.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Purse</string>
		<key>filename</key>
		<string>purse.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Pistol</string>
		<key>filename</key>
		<string>pistol.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>St. John&apos;s Arms</string>
		<key>filename</key>
		<string>stJohnsArms.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Trash Can</string>
		<key>filename</key>
		<string>trashCan.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Padlock</string>
		<key>filename</key>
		<string>padlock.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Floppy Disk</string>
		<key>filename</key>
		<string>floppyDisk.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>House</string>
		<key>filename</key>
		<string>house.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Heart</string>
		<key>filename</key>
		<string>heart.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Bomb</string>
		<key>filename</key>
		<string>bomb.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Crescent Moon</string>
		<key>filename</key>
		<string>crescentMoon.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Coffee</string>
		<key>filename</key>
		<string>coffee.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Lucky Charm</string>
		<key>filename</key>
		<string>omamori.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Apple</string>
		<key>filename</key>
		<string>apple.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Castle</string>
		<key>filename</key>
		<string>castle.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Clock</string>
		<key>filename</key>
		<string>clock.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Flower</string>
		<key>filename</key>
		<string>flower.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Insect</string>
		<key>filename</key>
		<string>insect.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Robot Head</string>
		<key>filename</key>
		<string>robotHead.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Mushroom</string>
		<key>filename</key>
		<string>mushroom.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Electrical Outlet</string>
		<key>filename</key>
		<string>socket.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Yin Yang</string>
		<key>filename</key>
		<string>yinyang.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Cube</string>
		<key>filename</key>
		<string>cube.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Martini</string>
		<key>filename</key>
		<string>martini.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Pencil</string>
		<key>filename</key>
		<string>pencil.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Sphere</string>
		<key>filename</key>
		<string>sphere.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Sword</string>
		<key>filename</key>
		<string>sword.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Flag</string>
		<key>filename</key>
		<string>flag.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Magic Wand</string>
		<key>filename</key>
		<string>magicWand.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Magnifying Glass</string>
		<key>filename</key>
		<string>magnifyingGlass.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Spraypaint</string>
		<key>filename</key>
		<string>spraypaint.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Cherries</string>
		<key>filename</key>
		<string>cherries.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Glass &amp; Bottle</string>
		<key>filename</key>
		<string>glassAndBottle.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Key</string>
		<key>filename</key>
		<string>key.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Feather</string>
		<key>filename</key>
		<string>feather.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Shopping Cart</string>
		<key>filename</key>
		<string>shoppingCart.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Chicken</string>
		<key>filename</key>
		<string>chicken.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Cursor</string>
		<key>filename</key>
		<string>mouseCursor.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Nintendo Game</string>
		<key>filename</key>
		<string>nintendoCart.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Spade</string>
		<key>filename</key>
		<string>spade.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Camera</string>
		<key>filename</key>
		<string>camera.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Speech Bubble</string>
		<key>filename</key>
		<string>speechBubble.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Ancient Phone</string>
		<key>filename</key>
		<string>phone.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Wrench</string>
		<key>filename</key>
		<string>wrench.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Dollar Sign</string>
		<key>filename</key>
		<string>dollarSign.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Bar Graph</string>
		<key>filename</key>
		<string>barGraph.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Medal</string>
		<key>filename</key>
		<string>medal.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Beginner&apos;s Badge</string>
		<key>filename</key>
		<string>beginnerBadge.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Easy</string>
		<key>title</key>
		<string>Random (Easy)</string>
		<key>filename</key>
		<string>random-easy.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Medium</string>
		<key>title</key>
		<string>Random (Medium)</string>
		<key>filename</key>
		<string>random-medium.tmx</string>
	</dict>
	<dict>
		<key>difficulty</key>
		<string>Hard</string>
		<key>title</key>
		<string>Random (Hard)</string>
		<key>filename</key>
		<string>random-hard.tmx</string>
	</dict>
</array>
</plist>
